/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ampliseq -profile test_pacbio_bam,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Test profile PacBio BAM'
    config_profile_description = 'Minimal test dataset to check pipeline function with PacBio BAM 16S sequences'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    FW_primer = "AGRGTTYGATYMTGGCTCAG"
    RV_primer = "RGYTACCTTGTTACGACTT"
    dada_ref_taxonomy = "silva"
    input = "samplesheet.tsv"
    pacbio = true
    bam = true
    max_ee = 12
    skip_qiime = true
}
